.grid {
  display: grid;
  grid-gap: 20px 15px;
  grid-template-columns: repeat(3, 1fr);
  width: 200px;
  height: 200px;
}

.drum-pad {
  padding: 10px;
  background-color: GhostWhite;
  border-radius: 5%;
}

#A:hover,
#C:hover,
#D:hover {
  background-color: var(--bs-blue);
}

#E:hover,
#Q:hover,
#S:hover {
  background-color: var(--bs-purple);
}

#W:hover,
#X:hover,
#Z:hover {
  background-color: var(--bs-teal);
}
