.grid {
  display: grid;
  grid-gap: 20px 15px;
  grid-template-columns: repeat(3, 1fr);
  width: 250px;
  height: 250px;
}

.drum-pad {
  padding: 10px;
  background-color: GhostWhite;
  border-radius: 5%;
}

#drum-Q:hover,
#drum-W:hover,
#drum-E:hover {
  background-color: var(--bs-blue);
}

#drum-A:hover,
#drum-S:hover,
#drum-D:hover {
  background-color: var(--bs-purple);
}

#drum-Z:hover,
#drum-X:hover,
#drum-C:hover {
  background-color: var(--bs-teal);
}

#display {
  background-color: var(--bs-info);
  border-radius: 50px;
  height: 24px;
  width: 30%;
  margin: 30px;
  text-align: center;
}
